@import url(https://fonts.bunny.net/css?family=inter:400,700,800);
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

/* header related styles */
.banner {
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.banner-content{
    font-family: 'Merriweather', serif;
    padding-top: 100px;
    padding-left: 240px;
    padding-right: 240px;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.banner-heading {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}